/* Global veiw or desktop view */
body{
    margin: 0px;
    font-family: 'Asap', sans-serif;
    background-color:beige;
    color: white;
}
#header_container{
    min-height: 100px;
    width : 100%;
    background-color: rgb(63, 61, 61);
    margin-bottom: 30px;
    position: fixed;
    display:flex;
    align-items: center;
    justify-content: center;
}

header{
    width : 1004px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#title{
    text-align: center;
    color : white;
}
nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.nav_item{
    padding: 10px 25px 10px 25px;
    margin: 10px;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    text-align: center;
}
.nav_item a {
    text-decoration: none;
    color: white;
}

#container{
    width: 1024px;
    /* min-height: 500px; */
    margin: 0px auto 0px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 30px;
    padding-top: 110px;
}
.cards{
    width: 30%;
    min-height : 200px;
    margin : 20px 10px 20px 10px;
    background-color: teal;
    box-shadow: rgba(0, 0, 0, 0.192) 2px 2px 2px;
}

.cards img{
    width: 100%;
    height: auto;
}
.cards p{
    background-color: rgba(5, 163, 163, 0.356);
    margin :0px;
    padding:20px;
    font-size: 13px;
}

.cards p::first-line{
    font-weight: bold;
}
.cards:hover{
    transform: scale(1.01);
}

/* Tablet view */
@media(max-width : 768px){
    .cards{
        width: 40%;
    }
    .not_in_tablet{
        display: none;
    }

}


/* Mobile view */

@media(max-width : 400px){
    .cards{
        width: 100%;
    }
    .not_in_mobile{
        display: none;
    }
    header{
        display: flex;
        flex-direction: column;
    }

    #title{
        padding: 30px 0px 30px 0px;
    }
    nav{
        display: flex;
        flex-direction: column;
        width : 100%;
    }
    .nav_item{
        width:100%;
        margin: 0px;
        border-color: white;
        border-style: solid;
    }
}