html{
    background-image: linear-gradient(#FC5E55, #FA4083);
}
body{
    background-image: url("Images/image-lion-background.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center-50px;
}
img{
    border-radius: 15px;
}
main img{
    border-bottom-left-radius: 100px;
}
#container{
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header{
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    padding-top: 20px;
    border-radius: 10px;
    border-bottom-style: solid;
    border-bottom-width: 1px; ;
}
nav{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#online_book,#about,#contact,#home{
    border-style: solid;
    border-width: 2px;
    padding: 5px ;
    border-radius: 15px;
}
nav div a{
    padding: 0px 3px 0px 3px;
    text-decoration: none;
    color: white;
    font-size: 17px;
}

#logo{
    flex: 1;
}
#contact_form{
    min-height:500px;
    margin-bottom: 30px;
}
#contact_form h1{
    padding-top: 0px;
    margin-bottom: 10px;
    margin-top: 0px;
    font-size:40px;
}
#contact_form p {
    padding : 0px 0px 10px 0px;
    margin-top: 0px;
    font-size: 18px;
}
.input{
    display: flex;
    justify-content: space-around;
    
}
.input input{
    flex:1;
    padding: 10px;
    margin: 10px 0px 10px 0px;
}
.input textarea{
    flex:1;
    padding: 10px;
    margin: 10px 0px 10px 0px;
    border-radius: 5px;
}
#newsletter {
    padding: 10px 0px 10px 0px;
}
.radioboxs{
    display: flex;
}
.radioboxs label{
    padding : 0px 15px 10px 15px;
}
.country select{
    padding: 7px;
    border-radius: 5px;
    margin: 8px 0px 10px 0px;
}
#submit input{
    padding: 15px 30px 15px 30px;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.212);
    border-radius: 10px;
}
#submit input:hover{
    background-color:rgba(57, 233, 145, 0.822);
}
#submit input:active{
    border-width: 5px;
    border-style: solid;
    border-color: white
}
#card_holder{
    min-height: 300px;
    display:flex;
    justify-content: space-between;
    text-align: center;
    line-height: 15px;
    /* padding-bottom: 100px; */
}

#card_1{
    width: 30%;
    min-height: 300px;
    background-image: url("Images/image-background-card1.jpg");
    background-size: cover;
    border-radius: 15px;
    box-shadow: 3px 3px rgba(46, 45, 45, 0.349);
}
#card_2{
    width: 30%;
    min-height: 300px;
    background-image: url("Images/image-background-card2.jpg");
    background-size: cover;
    border-radius: 15px;
    box-shadow: 3px 3px rgba(46, 45, 45, 0.349);
}
#card_3{
    width: 30%;
    min-height: 300px;
    background-image: url("Images/image-background-card3.jpg");
    background-size: cover;
    border-radius: 15px;
    box-shadow: 3px 3px 3px 3px rgba(46, 45, 45, 0.349);
}
#card_holder img{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 40px;
}
#card_holder a {
    color: white;
    text-decoration: none;
}

#feedback_holder{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#div_1,#div_2,#div_3,#div_4{
    border-style: solid;
    width:47%;
    padding :50px;
    border-radius: 15px;
    border-width: 0.5px;
    box-sizing:border-box;
    margin-top: 50px;
}

#div_1 :last-child,#div_2 :last-of-type,#div_3 :last-child,#div_4 :last-child{
    padding-left: 200px;
}


