body{
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
nav{
    min-height: 100px;
    width: 100%;
    padding:10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.384) 0px 0px 5px;
    position: fixed;
    background-color: rgba(44, 4, 4, 0.582);
}
#logo{
    width: 40%;
    padding-left: 100px;
}

.navigators{
    display: flex;
    width: 40%;
    justify-content: space-between;
    padding-right: 50px;
}

.navigators a{
    text-align: center;
    padding : 10px 20px 10px 20px;
    border-color: white;
    border-style: solid;
    border-width: 1px;
}

a{
    color:black;
    text-decoration: none;
}

#burger{
    padding:20px;
    display: none;
}

#burger .line{
    width: 35px;
    height: 5px;
    background-color: white;
    margin : 10px;
}

@media (max-width: 700px){
    .navigators{
        display: none;
    }
    #burger{
        display: block;
    }
}
