body{
    text-align: center;
    background-color: black;
    color: rgb(235, 112, 90);
}
button{
    padding: 20px;
    border-radius: 15px;
    background-color: darksalmon;
    display: inline;
    margin-bottom: 0px;
}
img{
    width : 100px;
}
#nav_menu{
    text-align: left;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items :flex-start;
    flex-direction: column;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    border-style: solid;
    border-width: 1px;
}

nav:hover{
    display: none;
}

